.list{
    display: flex;
    
    gap: 15px;
    flex-wrap: wrap;
    
}

.button{
    background-color: rgb(86, 86, 239);
    color: white;
}
.loading{
    text-align: center;
    padding: 20px;
    color: #666;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.sortLabel{
    color: rgb(0, 123, 255);
}



.controls {
    display: flex;
    gap: 10px; /* Расстояние между кнопкой и селектом */
    margin-bottom: 20px;
   justify-content: space-between;
    align-items: baseline
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; 
}

.button:hover {
    background-color: #0056b3;
}

.sort{
    display: flex;
    align-items: start;
   gap: 10px;
}

.sortSelect {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: grey;
    height: 38px;

}



@media (min-width: 320px) and (max-width: 1024px) {

    .controls{
        flex-direction: column;
        align-items: start;
    }
}